*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.body {
  padding: 0 40px;
  font-family: $text-font;
  font-size: 16px;
  color: $text-color;
  margin: 0 auto;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-wrap: nowrap;
  max-width: 1440px;
}