a {
  text-decoration: none;
  color: $text-color;
}

.btn {
  color: $white-color;
  background-color: $dark-color;
  border: none;
  border-radius: 2rem;
  font-family: $headers-font;
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.btn-secondary {
  @extend .btn;
  background-color: transparent;
  border: 1px solid $light-grey;
  color: $dark-color;
}