a {
  text-decoration: none;
  color: $text-color;
}

.btn {
  @include display-flex-center;
  color: $white-color;
  background-color: $dark-color;
  border: none;
  border-radius: 2rem;
  font-family: $headers-font;
  font-size: 1rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  &__disabled {
    background-color: transparent;
    border: 1px solid $mid-grey;
    color: $mid-grey;
    pointer-events: none;
  }
  &:disabled {
    background-color: transparent;
    border: 1px solid $mid-grey;
    color: $mid-grey;
    pointer-events: none;
  }
}

.btn-secondary {
  @extend .btn;
  background-color: transparent;
  border: 1px solid $dark-color;
  color: $dark-color;
}

.video-btn {
  padding: 0 1rem 0 0.2rem;
  border-color: $white-color;
  background-color: $white-color;
  color: $accent-color;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  &:hover {
    box-shadow: $box-shadow;
  }
  .video-icon {
    font-size: 3rem;
    padding-right: 0.5rem;
  }
}

.btn-play {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  background-color: $white-color;
  box-shadow: $box-shadow;
}

//level buttons
.btn-level {
  box-shadow: $box-shadow;
  border: 2px solid transparent;
  &:hover {
    background-color: $secondary-color;
  }
  &.btn-active {
    border-color: $accent-color;
    color: $dark-color;
  }
}

//level buttons
.btn-level {
  box-shadow: $box-shadow;
}

.btn-level-1 {
  background-color: $l1;
}

.btn-level-2 {
  background-color: $l2;
}

.btn-level-3 {
  background-color: $l3;
}

.btn-level-4 {
  background-color: $l4;
}

.btn-level-5 {
  background-color: $l5;
}

.btn-level-6 {
  background-color: $l6;
}

.user-words-btn {
  background-color: $accent-color;
  color: $secondary-color;
  position: relative;
  &.btn-active {
    background-color: $secondary-color;
    color: $accent-color;
  }
  &::after {
    content: '\ea19';
    position: absolute;
    font-family: Material Icons Round;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: normal;
    background: #ffddb0;
    color: #332A7C;
    padding: 0.5rem;
    box-shadow: 0px 1px 4px 1px rgb(50 50 71 / 15%);
    border-radius: 30px;
    right: -15px;
    top: -6px;
  }
  &:hover {
    color: $accent-color;
  }
}

.btn:disabled {
  background-color: transparent;
  border: 1px solid $mid-grey;
  color: $mid-grey;
}

.btn-add {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: $accent-color;
  border-color: $accent-color;
  transition: 0.5s all ease;
  position: relative;
  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    transition: all 0.5s ease-in-out;
    .tooltip-add-btn {
      visibility: visible;
    }
  }
  .tooltip-add-btn {
    visibility: hidden;
    background-color: #191a15;
    border: 1px solid $dark-color;
    color: #ffffff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 105%;
    font-size: 0.8rem;
    width: max-content;
    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $dark-color;
    }
  }
}

.btn-learn {
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  color: $accent-color;
  border-color: $accent-color;
  position: relative;
  transition: all 0.5s ease-in-out;
  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    transition: all 0.5s ease-in-out;
    .tooltip-learn-btn {
      visibility: visible;
    }
  }
  .tooltip-learn-btn {
    visibility: hidden;
    background-color: #191a15;
    border: 1px solid $dark-color;
    color: #ffffff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 105%;
    font-size: 0.8rem;
    width: max-content;
    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $dark-color;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $headers-font;
}

h1 {
  font-size: 4.7rem;
  @media (max-width: $breakpoint-tablet) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 2.4rem;
}

.user-icon {
  background-color: transparent;
  font-size: 45px;
  border-radius: 50%;
  transition: all 0.5s;
  &:hover {
    background-color: $secondary-color;
  }
}
