$headers-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;

$dark-color: #191a15;
$white-color: #ffffff;
$mid-grey: #a1a1a1;
$light-grey: #d8d8d8;
$text-color: #333333;
$overlay-color: rgba(41, 41, 41, 0.6);

$section-padding: 4.5rem 0;

// media
$breakpoint-laptop: 768px;
$breakpoint-mobile: 425px;